.popup-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100;
    background-color: rgba(0,0,0,.7);
    transition: opacity .5s linear;
    color: white;
    opacity:0;
}

.popup-show{
    opacity: 1;
    pointer-events: auto;
}

.popup-hide{
    opacity: 0;
    pointer-events: none;
}
