
#root {
  width: 100%;
  text-align: center;
  align-self: flex-start;
}

.layout {
  min-height: 100vh;
  display:grid;
  grid-template-columns: 1fr ;
  grid-template-rows: [header] 50px [content] 1fr [footer] 50px;
}

.Header{
  background-color: darkseagreen;
  grid-row: header;
}

main{
  grid-column:  1 / span 4 ;
}

.Footer{
  background-color: darkorange;
  grid-row: footer;
} 
