.summary {
    border-color:black;
    background-color:lightblue;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: [upper] 30px [middle] 1fr [lower] 1fr;
   }

   .user {
    background-color: goldenrod;
    grid-row: upper;
    grid-column: 1 / span 4; 
   }

 .summaryTop {
    background-color: bisque;
    grid-column: 1 / span 2;
    grid-row: lower;
 }



 .titulo {
    background-color:darkorange;
    
 }

.categories {
 
    background-color:crimson;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: [upperCat] 1fr [lowerCat] 1fr;
    

}
  




