#root {
  width: 100%;
  text-align: center;
  align-self: flex-start;
}

.layout {
 min-height: 100vh;
 display:grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-template-rows: [header] 50px [content] 1fr [footer] 50px;
}

.header{
  background-color: darkseagreen;
  grid-row: header;
  grid-column: 1 / span 4;  
}

main{
  grid-column:  1 / span 4 ;
  grid-row:  content / footer ;
}

.footer{
background-color: darkorange;
grid-column: 1 /span 4;
grid-row: footer;

}